.container {
    min-height: calc(100vh - 50px);
    padding-top: 50px;
    display: flex;
    background-color: rgb(32, 32, 32);
    background-size: cover;
}

.info {
    padding: 0 200px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    text-shadow: -3px 3px 5px #000;
}

.infoHello {
    color: white;
}

.infoName {
    font-size: 50px;
    font-weight: 800;
    color: var(--green);
}

.infoOccupation {
    font-size: 25px;
    font-weight: 200;
    font-style: italic;
    color: white;
}

.infoOccupation span {
    color: var(--green);
    font-weight: 500;
    font-style: italic;
}

.infoDownload {
    padding: 10px;
    font-weight: 600;
    color: var(--green);
    background: linear-gradient(to right, var(--green) 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease;
    border: 2px solid var(--green);
    border-radius: 50px;
    box-shadow: -3px 3px 5px #000;
}

.infoDownload:hover {
    cursor: pointer;
    background-position: left bottom;
    color: black;
}

@media (max-width: 870px) {
    .info {
        padding-left: 20px;
    }
}
