* {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

@media (max-width: 768px) {
    * {
        font-size: 13px;
    }
}
